

<h3 style="text-align: center;"> {{curInfo.name}} Info</h3>


<h5 style="text-align: center;"> {{curInfo.name}}, {{curInfo.pos}} </h5>

<div class = "container">
  <div class = "jumbotron">
    <p>
      Personal Bio: {{curInfo.bio}}
    </p>
    <p>
      Endorsements: {{curInfo.endorsements}}
    </p>
    <p>
      Previous Positions: {{curInfo.prevPos}}
    </p>
  </div>
  <div class = "btn-group">
    <button  mat-button>Vote For Candidate</button>
    <button (click)="nextCandidate(candidate)" mat-button> Next Candidate</button>
  </div>

</div>



