<div class="container flex-column form">
  <form [formGroup]="registrationForm" (ngSubmit)="onFormSubmit()">
    <div id="upload-pic">
      <p>Per Government Regulations, each user must prove their voting eligibility through a valid form of US ID: </p>
      <div class="d-flex flex-row">
        <input
          style="display: none"
          type="file"
          (change)="onFileChange($event)"
          #fileInput
          formControlName="id">
        <input type="hidden" name="fileHidden" formControlName="name"/> <!-- Validation Field -->
        <button class="button mt-0"
                (click)="fileInput.click()">Select File</button>
        <!--For modern browsers-->
        <i *ngIf="registrationForm.value.id"
           class="material-icons uploaded">
          check_circle
        </i>
      </div>

    </div>

    <div id="ssn">
      <p>Alternatively, you can enter your Social Security Number:</p>
      <mat-form-field>
        <input matInput
               placeholder="Enter your SSN"
               [type]="hide ? 'password' : 'text'"
               formControlName="ssn">
        <mat-icon matSuffix
                  (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
    <br />
    <button [disabled]="registrationForm.invalid" class="button">{{buttonString}}</button>
  </form>
</div>
