<h2 style="text-align: center"> Review Your Selections </h2>


<h2 style="margin-top:1em; text-align: left;"> Presidency </h2>

  <div style="background: rgb(0, 0, 205, 0.1);" class ="jumbotron">
    <p>
      Name: {{presidency.name}}
      <br>
      Bio: {{presidency.bio}}
      <br>
      Endorsements: {{presidency.endorsements}}
    </p>
  </div>


<h2 style="margin-top:1em; text-align: left;"> Congress </h2>
<div style="background: rgb(0, 0, 205, 0.1);" class = "jumbotron">
    <p>
      Name: {{congress.name}}
      <br>
      Bio: {{congress.bio}}
      <br>
      Endorsements: {{congress.endorsements}}
    </p>
</div>

<div style="text-align: center; margin-top:1em;">
<button class="btn btn-primary" mat-button>Vote For Candidates</button>
</div>



