<div *ngIf="!voteDone">
<h2 style="text-align: center"> Review Your Selections </h2>


<h2 style="margin-top:1em; text-align: left;"> Presidency </h2>
  <div style="background: rgb(0, 0, 205, 0.1);" class ="jumbotron">
    <img [src]="presidency.src" />
    <p>
      Name: {{presidency.name}}
      <br>
      Bio: {{presidency.bio}}
      <br>
      Endorsements: {{presidency.endorsements}}
    </p>
  </div>


<h2 style="margin-top:1em; text-align: left;"> Congress </h2>
<div style="background: rgb(0, 0, 205, 0.1);" class = "jumbotron">
  <img [src]="congress.src" />
    <p>      
      Name: {{congress.name}}
      <br>
      Bio: {{congress.bio}}
      <br>
      Endorsements: {{congress.endorsements}}
    </p>
</div>

<div style="text-align: center; margin-top:1em;">
<button (click)="vote()" class="btn btn-primary" mat-button>Vote For Candidates</button>
</div>
</div>


<div *ngIf="voteDone" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>You have successfully voted for the elections</p>
  <hr>
  <p class="mb-0"><button (click)="home()" class="btn btn-primary" mat-button>Home</button></p>
</div>