<div id="header" class="container">
  <div class="d-flex justify-content-between">
    <button id="back-button"
            *ngIf="displayBackButton()"
            (click)="goBack()">
      <i class="material-icons">navigate_before</i>
    </button>
    <div *ngIf="!displayBackButton() || !displayLogout()"
         id="filler"></div>
    <button id="home-button"
            type="button"
            class="button"
            *ngIf="displayHome()"
            (click)="goToHome()">Home</button>
    <button id="logout-button"
            type="button"
            class="button"
            *ngIf="displayLogout()"
            (click)="logout()">Logout</button>
  </div>
  <div>
    <h1>
      VotesApp
    </h1>
  </div>
</div>
