div {
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  width: 400px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}
