<div>
  <label>Per Government Regulations, each user must prove their voting eligibility through a valid form of US ID: </label>
  <nav>
    <img src="https://cdn.abcotvs.com/dip/images/2978997_012218-kgo-real-id-img-1.jpg?w=120"/>
    <button routerLink="/id">Upload again</button>
  </nav>
  <label>Alternatively, you can enter your Social Security Number:
    <input type="password" placeholder="SSN"/>
    <nav>
      <button routerLink="/candidates">Verify</button>
    </nav>
  </label>
</div>
